aniso8601==7.0.0
asgiref==3.2.10
certifi==2021.5.30
charset-normalizer==2.0.6
cloudinary==1.26.0
dj-database-url==0.5.0
Django==3.1.2
django-cloudinary-storage==0.3.0
django-cors-headers==3.6.0
django-filter==2.4.0
django-graphql-jwt==0.3.1
django-heroku==0.3.1
djangorestframework==3.12.2
graphene==2.1.8
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
idna==3.2
Markdown==3.3.3
Pillow==8.3.2
promise==2.3
psycopg2==2.9.1
PyJWT==1.7.1
python-dotenv==0.15.0
pytz==2020.1
requests==2.26.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.4.1
Unidecode==1.1.1
urllib3==1.26.6
whitenoise==5.3.0
